.modal-header,
.modal-body,
.modal-footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.modal-header {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.modal-body {
  padding-bottom: 1rem;
}

.modal-footer {
  padding-bottom: 1.5rem;
}
